<form class="task-form d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <input
      type="checkbox"
      name="checkbox"
      (change)="update(!_task.isDone)"
      [checked]="_task.isDone"
    >
    <div
      *ngIf="changeTask !== _task.taskId"
      class="task-name"
      [ngClass]="{'task-done': _task.isDone === true, 'task-not-done': _task.isDone === false}"
    >
      <a
        [routerLink]="['list:id/task', _task.taskId]">
        {{_task.taskName}}
      </a>
    </div>
    <div
      *ngIf="changeTask === _task.taskId">
      <input
        type="text"
        name="newTaskName"
        [(ngModel)]="newTaskName"
        class="task-input"
      >
    </div>
  </div>
  <div class="task-update-form">
    <button
      (click)="onChange(_task.taskId)"
      *ngIf="changeTask !== _task.taskId"
      class="btn btn-sm custom-btn"
    >c
    </button>
    <button
      class="btn btn-sm custom-btn"
      (click)="acceptChanges(_task.taskId)"
      *ngIf="changeTask === _task.taskId"
    >Accept
    </button>
  </div>
</form>
