<div
  *ngIf="openRemoveModal === list.listId"
  class="modal-confirmation">
  <h5>
    Remove list {{list.listName}}???
  </h5>
  <div class="d-flex justify-content-between">
    <button
      (click)="removeList(list.listId)"
      class="btn btn-danger">
      YES
    </button>
    <button
      (click)="closeModal(list.listId)"
      class="custom-btn">
      NO
    </button>
  </div>
</div>
<div
  class="column-title d-flex justify-content-between">
  <a [routerLink]="['/list', list.listId]">{{list.listName}}</a>
  <button
    class="btn btn-danger btn-sm"
    (click)="openModal(list.listId)">
    x
  </button>
</div>
<app-tasks
  [_tasks]="list.tasks"
  [_listId]="list.listId"
></app-tasks>
